body {
  font-family: Arial, sans-serif;
  background-color: #3498db; /* azul */
  color: #fff; /* branco */
}

.container {
  width: 80%;
  margin: 50px auto;
  padding: 20px;
  background-color: #2980b9; /* azul mais escuro */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto; /* Adiciona rolagem vertical */
}

.container label {
  margin-bottom: 5px;
}

.container input[type="number"],
.container input[type="text"] {
  width: calc(100% - 12px);
  padding: 5px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
}

.container input[type="number"]::placeholder,
.container input[type="text"]::placeholder {
  color: #ddd; /* cinza claro */
}

.container .myBtn {
  width: 100%;
  padding: 10px;
  background-color: #1abc9c; /* verde */
  color: #fff; /* branco */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.container .myBtn:hover {
  background-color: #16a085; /* verde mais escuro ao passar o mouse */
}

.footer {
  text-align: center;
  width: 100%;
  background-color: #2980b9; /* Azul mais escuro */
  padding: 5px 0; /* Reduzindo o preenchimento superior e inferior para 5px */
  color: #fff; /* Branco */
 
  bottom: 0;
}


.footer ul {
  list-style-type: none;
  padding: 0;
}

.footer ul li {
  display: inline-block;
  margin: 0 5px;
}

.footer ul li i {
  font-size: 24px;
}


@media only screen and (min-width: 768px) {
  .container {
    width: 50%;
  }
}

@media only screen and (min-width: 992px) {
  .container {
    width: 40%;
    overflow-y: hidden; /* Remove rolagem vertical */
  }
}
